<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SmartGlutton</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
        <title>SmartGlutton</title>
          <div class="nav__left">
            <%= link_to root_path, class: :logo do %>
              <%= image_tag "SmartGlutton-logo.png", class: :logo %> <br>
                <a> SmartGluttonはフードロスを削減するための、フードシェアアプリです</a>
            <% end %>
          </div>
          <%# ログインしているときは以下を表示するようにしましょう %>
           <% if user_signed_in? %>
             <div class="nav__right">
               <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__logout %></li>
               <li><%= link_to "商品出品", new_item_path, class: :nav__btn %></li>
                <%= link_to root_path, target: "_blank" do  %>
                 <li><%= image_tag "カートのアイコン素材 (1).png", class: :cart__logo %></li> 
                <% end %> 
             </div>
          <%# // ログインしているときは上記を表示するようにしましょう %>
          <%# ログインしていないときは以下を表示するようにしましょう %>
          <% else %>
            <div class="nav__right">
              <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
              <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
            </div>
            <% end %>
          <%# // ログインしていないときは上記を表示するようにしましょう %>
        </div>
      </div>
    </header>
    <%= yield %>
<<<<<<< HEAD
     <%# <aside id="submenu"> %>
=======
<%# <aside id="submenu">
>>>>>>> parent of c316d37 (Revert "ordered_itemsテーブルの編集")

<%# <div class="subcontents">
<h3>商品の紹介</h3>
<ul class="subcontents-lists">
<li><a href="atent.html">A社製テント</a></li>
<li><a href="btent.html">B社製テント</a></li>
<li><a href="ctent.html">C社製テント</a></li>
<li><a href="dtent.html">D社製テント</a></li>
<li><a href="etent.html">E社製テント</a></li>
<li><a href="ftent.html">F社製テント</a></li>
</ul>
</div>
<div id="ad2">
<%# <img src="image/ad2.png" alt="広告"> %>
<%# </div> %> 

<<<<<<< HEAD
</aside> %>
=======
<%# </aside> %> 
>>>>>>> parent of c316d37 (Revert "ordered_itemsテーブルの編集")



    <footer class="footer">
      <p class="copyright">Copyright © SmartGlutton All rights reserved.</p>
        <div class="footer__right">
          <%= link_to image_tag("E_SDG_logo_without_UN_emblem_horizontal_Transparent_WEB.png", class: :logo), root_path %>
        </div>
    </footer>
  </body>
</html>
